<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/transferencia"></ion-back-button>
      <ion-title>Transferencia: Detalle</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
    
<ion-content *ngIf="registro">
  <form [formGroup]="myForm" (ngSubmit)="grabar()">
    <ion-card>
      <ion-card-header class="ion-text-right">
        <ion-card-title>
          <ion-label><b>Lote Barco: </b>{{ registro.lote_barco }}</ion-label>
        </ion-card-title>
      </ion-card-header>
      
      <ion-grid>
        <ion-row>
          <ion-col class="ion-text-right">Día de Producción</ion-col>
          <ion-col><b>{{registro.dia_produccion}}</b></ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-right">Control Rociado</ion-col>
          <ion-col><b>{{registro.control_rociado}}</b></ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-right">Coche Salida de Limpieza</ion-col>
          <ion-col><b>{{registro.coche}}</b></ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-right">Especies-Talla</ion-col>
          <ion-col><b>{{registro.especies_talla}}</b></ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-right">No. Mesa</ion-col>
          <ion-col><b>{{registro.no_mesa}}</b></ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-right">Tipo de Carne</ion-col>
          <ion-col><b>{{ getTipoCarne(registro.tipo_carne)}}</b></ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-right">Fecha</ion-col>
          <ion-col><b>{{registro.turno}}</b></ion-col>
        </ion-row>

        <ion-row style="height: 10px;"></ion-row>
        
        <ion-list>
          <ion-item><ion-label>Coche Nuevo</ion-label></ion-item>
          <ion-item>
            <ion-icon name="pricetag"></ion-icon>
            <ion-input formControlName="coche"></ion-input>
            <!-- <ion-button>Buscar</ion-button> -->
          </ion-item>
        </ion-list>
        <ion-button color="success" (click)="grabar()">Grabar</ion-button>
      </ion-grid>
    </ion-card>
  </form>
</ion-content>