<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Salida Limpieza</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid id="griData">
    <ion-row>
        <ion-col><b>No. Control</b></ion-col>
        <ion-col><b>No. Mesa</b></ion-col>
        <ion-col><b>Lote Barco</b></ion-col>
        <ion-col><b>Especies Talla</b></ion-col>
        <ion-col><b>Dia Produccion</b></ion-col>
        <ion-col><b>Cliente</b></ion-col>
        <ion-col><b>Control Rociado</b></ion-col>
        <ion-col><b>Acciones</b></ion-col>
    </ion-row>
    <ion-row *ngFor="let registro of registros">
      <ion-col>{{ registro.no_control }}</ion-col> 
      <ion-col>{{ registro.no_mesa }}</ion-col> 
      <ion-col>{{ registro.lote_barco }}</ion-col> 
      <ion-col>{{ registro.especies_talla }}</ion-col> 
      <ion-col>{{ registro.dia_produccion }}</ion-col> 
      <ion-col>{{ registro.cliente }}</ion-col> 
      <ion-col>{{ registro.control_rociado }}</ion-col> 
      <ion-col>
        <ion-button (click)="viewDetail(registro)">
        <!-- <ion-button (click)="viewDetail(registro)" [disabled]="registro.completado"> -->
        <!-- <ion-button (click)="viewDetail(registro)" *ngIf="!registro.completado"> -->
          <!-- {{ registro.completado ? 'OK' : 'Completar' }} -->
          {{ 'Editar' }}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>