<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tara"></ion-back-button>
      <ion-title>Tara: Detalle</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
    
<ion-content *ngIf="registro">
  <form [formGroup]="myForm" (ngSubmit)="grabar()">
    <ion-card>
      <ion-card-header class="ion-text-right">
        <ion-card-title>
          <ion-label><b>Lote Barco: </b>{{ registro.lote_barco }}</ion-label>
        </ion-card-title>
      </ion-card-header>
      
      <ion-grid>
        <ion-row>
          <ion-col class="ion-text-right">Día de Producción</ion-col>
          <ion-col><b>{{registro.dia_produccion}}</b></ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-right">Control Rociado</ion-col>
          <ion-col><b>{{registro.control_rociado}}</b></ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-right">Coche actual</ion-col>
          <ion-col><b>{{registro.coche_nuevo}}</b></ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-right">Especies-Talla</ion-col>
          <ion-col><b>{{registro.especies_talla}}</b></ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-right">No. Mesa</ion-col>
          <ion-col><b>{{registro.no_mesa}}</b></ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-right">Fecha Asignación</ion-col>
          <ion-col><b>{{ getFechaAsignacion() }}</b></ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-right">Peso Bruto</ion-col>
          <ion-col><b>{{ registro.peso_bruto}}</b></ion-col>
        </ion-row>

        <ion-row style="height: 10px;"></ion-row>
        
        <ion-list>
          <ion-item><ion-label>Peso Tara</ion-label></ion-item>
          <ion-item>
            <ion-icon name="reload-circle"></ion-icon>
            <ion-input type="number" formControlName="peso_tara"></ion-input>
          </ion-item>
          
          <ion-item><ion-label>Peso Neto</ion-label></ion-item>
          <ion-item>
            <ion-icon name="refresh-circle"></ion-icon>
            <ion-input type="number" [readonly]="true" formControlName="peso_neto"></ion-input>
          </ion-item>
        </ion-list>

        <ion-button color="success" (click)="confirmarGrabar()">Grabar</ion-button>
      </ion-grid>
    </ion-card>
  </form>
</ion-content>
