<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/salida-limpieza"></ion-back-button>
      <ion-title>Salida Limpieza: Detalle</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
    
<ion-content *ngIf="registro">
  <form [formGroup]="myForm" (ngSubmit)="grabar()">
    <ion-card>
      <ion-card-header class="ion-text-right">
        <ion-card-title>
          <ion-label><b>Lote Barco: </b>{{ registro.lote_barco }}</ion-label>
        </ion-card-title>
      </ion-card-header>
      
      <ion-grid>
        <ion-row>
          <ion-col class="ion-text-right">No. Mesa</ion-col>
          <ion-col><b>{{registro.no_mesa}}</b></ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-right">Especies-Talla</ion-col>
          <ion-col><b>{{registro.especies_talla}}</b></ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-right">Cliente</ion-col>
          <ion-col><b>{{registro.cliente}}</b></ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-right">Día de Producción</ion-col>
          <ion-col><b>{{registro.dia_produccion}}</b></ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-right">Turno</ion-col>
          <ion-col><b>{{registro.turno}}</b></ion-col>
        </ion-row>
        <ion-label style="padding-left: 16px;"><b>Tipo de Carne</b></ion-label>
        <ion-segment formControlName="tipo_carne">
          <ion-segment-button value="L">
            <ion-label>Lomo</ion-label>
          </ion-segment-button>
          <ion-segment-button value="F">
            <ion-label>Flake</ion-label>
          </ion-segment-button>
          <ion-segment-button value="T">
            <ion-label>Trozo</ion-label>
          </ion-segment-button>
          <ion-segment-button value="R">
            <ion-label>Rallado</ion-label>
          </ion-segment-button>
        </ion-segment>

        <ion-row style="height: 10px;"></ion-row>
        
        <ion-list>
          <ion-item><ion-label>Coche</ion-label></ion-item>
          <ion-item>
            <ion-icon name="pricetag"></ion-icon>
            <ion-input formControlName="coche"></ion-input>
            <!-- <ion-button>Buscar</ion-button> -->
          </ion-item>
        </ion-list>
        <ion-button color="success" (click)="confirmarGrabar()">Grabar</ion-button>
      </ion-grid>
    </ion-card>
  </form>
</ion-content>